.Register_formContainer {
  display: flex;
  text-align: center;
  margin-top: 200px;
}

.Register_Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr .25fr .5fr .5fr .5fr .5fr .5fr .5fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo"
    "title"
    "firstname"
    "lastname"
    "phone"
    "username"
    "pass"
    "pass-requirements"
    "terms"
    "btn";
}
.Register_logo { grid-area: logo; }
.Register_title { 
  grid-area: title;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: larger;
  padding-top: 20px;
}
.Register_firstname {
  grid-area: firstname;
  margin-top: 20px;
}
.Register_lastname {
  grid-area: lastname;
  margin-top: 5px;
}
.Register_username { 
  grid-area: username;
  padding-top: 5px;
}
.Register_phone { 
  grid-area: phone;
  padding-top: 5px;
}
.Register_pass {
  grid-area: pass;
  margin-top: 5px;
}
.Register_passrequirements {
  grid-area: pass-requirements;
  margin-top: 5px;
}
.Register_terms {
  grid-area: terms;
  margin-top: 5px;
}
.Register_btn { grid-area: btn; }

.Register_terms_close {
  width: 100%;
  text-align: right;
}

.Register_terms_text {
  margin: auto;
  width: 70%;
  height: 60%;
}